@import "_settings";
@import "foundation";

// Or selectively include components
 @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
   "foundation/components/offcanvas";
//   "foundation/components/visibility";

img.logo {
  width: rem-calc(120);
}

.tab-bar {
  border-bottom: 1px solid $secondary-color;
}

.main-payment-methods {

  margin-top: rem-calc(10);

  div {
    text-align: center;
    font-weight: bold;
  }

  ul {
    margin-top: rem-calc(10);
  }
}

.catalog {

  margin-top: rem-calc(40);

  ul {
    margin-top: rem-calc(10);
  }

  .thumb img {
    @include radius(rem-calc(10));
  }

  .price {
    font-weight: bold;
  }

  button.more {
    @include radius(rem-calc(10));
  }
}

.main-rk {
  @media #{$small-only} {
    margin-top: rem-calc(10);
  }
}

.main-section {
  padding-top: rem-calc(20);
}

button.buy {
  @include radius(rem-calc(10));

}

.footer {
  background-color: #dfdfdf;
  padding: rem-calc(10);
  margin-top: rem-calc(20);

  a {
    color: $black;
    font-weight: bold;
    font-size: 80%;
  }
}
.footer-sub {
  background-color: #ccc;
  padding: rem-calc(10);
  img {
    width: rem-calc(120);
  }

}